.partner {
    padding-top: 94px;
    padding-bottom: 94px;
  }

.partner__headers {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

.partner-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-top: 50px;
    gap: 30px;
}

.partner-list__line {
    list-style-type: none;
     width: 170px;
    height: 92px;
    border: 1px solid $ninth-color;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border: 1px solid $second-color;
        border-radius: 4px;
    }
    
    &:focus {
        border: 1px solid $second-color;
        border-radius: 4px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
    
.partner-list__link {
    fill: $ninth-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: $second-color;
    }

    &:focus {
        fill: $second-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
