.team-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;

    &__line {
        list-style-type: none;
        
    }

    &__line:not(:first-child) {
        margin-left: 10px;
    }
}

.team-item__link {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $ninth-color;
    width: 44px;
    height: 44px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item__link:hover {
    fill: $sixth-color;
    background: $second-color;
    border-radius: 50%;
}

.team-item__link:focus {
    fill: $sixth-color;
    background: $second-color;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list {
    display: flex;
    gap: 30px;
    padding-left: 0px;
    margin-top: 50px;

    &__line {
        background: $sixth-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        list-style-type: none;
    }

    &__card {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.team-list__header {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-list__paragraph {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $fifth-color;
    margin-top: 10px;
    margin-bottom: 16px;
}

.webtudio-headers {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $first-color;
}

.team {
    background-color: $eighth-color;
}
